.menu_item{
  height: 70px;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.collapsed_menu_container a{
  display: flex;
  align-items: center;

  /* Removes the blue link indicator from the FontAwesome icon */
  text-decoration: none;
  text-transform: uppercase;
}

.collapsed_menu_container a,
.collapsed_menu_container a:visited,
.collapsed_menu_container a:hover,
.collapsed_menu_container a:active{
  color: #111;
}

/* Defines menu icon container size */
.menu_item_icon{
  width: 4em;
  height: 4em;
}

.menu_item_icon:before{
  /*
    Defines size of the icon
    Equal to size='2x' as property of FontAwesome tag.
    Value is half of width/height of the menu_item_icon
   */
  font-size: 2em;

  /* Icon color */
  color: black;
  /* Make it block for margins to take effect */
  display: block;
  /*margin-left: 0.5em;*/
  margin-top: 0.5em;
}
