.header{
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  height: 80px;
  display: flex;
  align-items: center;

  /* All textual children have their text in uppercase */
  text-transform: uppercase;
}

.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: 0;

  /* Unvisited link */
  color: #111;
}

/* To keep link color the same, keep the following event classes in this order.
The color must be equal to the color specified in parent class (.logo) */
.logo:visited{
  color: #111;
}
.logo:hover{
  color: #111;
}
.logo:active{
  color: #111;
}

.logo img{
  /* Width will automatically set the height to the same value */
  width: 36px;
}

/* Initials */
.logo span{
  font-family: 'Comic-sans';
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  margin-left: 0.5rem;
}

.links{
  /* Tell the browser we don't want right margin... */
  margin-right: 0;
  /* ... but instead give all the space to the left one */
  margin-left: auto;
}

.links li{
  padding: 0 0 0 3rem;
  display: inline-block;
}
.links li a{
  font-family: 'Comic-sans';
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.05rem;
  color: #a2a2a2;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.links li a:hover{
  color: #525252;
}
